.centre {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1300px;
}

.github {
  position: absolute;
  right: 2%;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin-left: 9%;
  margin-bottom: 1%;
  color: #60CA69;
}

.description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-left: 9%;
  margin-bottom: 3%;
  color: #60CA69;
}

.flex-container {
  display: flex;     
  justify-content: center;
  align-items: center; 
  gap: 20px;  
}

.hcentre {
  left: 50%;
}

.boxed {
  display: inline-block;
  border: 2px solid;
  position: relative;
}


div.horizontalgap {
  display: inline-block;
  overflow: hidden;
  height: 1px;
  width: 0px;
}

.custom-select-menu {
  width: 450px !important;
}

body {
  background-color: #121212;
}


/* buttons */
.button {
  background-color: #60CA69;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-position 0.3s ease-in-out;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.find-button {
  height: 55px;
  width: 130px;
}

.with-path {
  display: flex;
  margin-bottom: 60px;
  justify-content: center; 
  align-self: flex-end;
  margin-top: 30px;
}

.no-path {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.centred-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.path-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 40px;
  position: absolute;
  top: 40px;
  color: #FFFFFF;
  display: flex;     
  justify-content: center;
  gap: 20px; 
  margin-top: 50px;
}

.path {
  margin-top: 100px;
}

.title-path {
  text-align: center;
  align-self: center;
}

.path-title-accent {
  font-weight: 400;
  color: #FFFFFF;
}

.path-title-accent-green {
  font-weight: 400;
  color: #60CA69;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.loading span {
  font-family: Calibri;
  font-size: 30px;
  font-weight: 800;
  color: #FFFFFF;
}

.loading img {
  margin: 30px;
}

.column-container {
  display: flex;     
  justify-content: center;
  gap: 40px;
  margin-top:30px;
}

.left-artists-container {
  display: flex;
  flex-direction: column;
  margin-top: -305px;
}

.right-artists-container {
  display: flex;
  flex-direction: column;
  margin-top: -44px;
}

.tracks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-top: 180px;
  margin-bottom: 50px;
}

.artist-image-container {
  display: flex;
  align-items: flex-end;
  width: 120px;
  height: 530px;
}

.artist-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.track-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  gap: 5px;
}

.track-header-artists {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #FFFFFF; 
}

.track-header-song {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  align-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.track-header-accent {
  font-weight: 500;
  color: #60CA69; 
}

.track-header-accent1 {
  font-weight: 500;
}

.rotate {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.display-track-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 55px;
}

.top-left-image {
  margin-top: -40px;
}

.top-right-image {
  margin-top: 80px;
}

.bottom-left-image {
  margin-top: 80px;
}

.bottom-right-image {
  margin-top: -50px;
}

/* .shift-left-artists {
  margin-top: 80px;
} */